name: Build App

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build
    uses: ./.github/workflows/common-build.yaml
    with:
      buildType: "Debug"

  sign:
    name: Sign
    needs: build
    uses: ./.github/workflows/common-sign.yaml
    with:
      applicationId: "com.github.catfriend1.syncthinglite"
      buildType: "debug"
      environmentName: "dev-sign-untrusted"
