name: Common Sign

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      applicationId:
        description: 'Application ID'
        required: true
        type: string
      buildType:
        description: 'Gradle build type'
        required: true
        type: string
      environmentName:
        description: 'Environment name'
        required: true
        type: string

jobs:
  sign:
    name: Sign ${{ inputs.buildType }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environmentName }}
    steps:
      - name: Install apksigner
        run: |
          set -eu
          # echo "deb [trusted=yes] http://deb.debian.org/debian trixie main" | sudo tee /etc/apt/sources.list.d/debian-trixie.list
          # sudo apt-get update
          # sudo apt-get install -y -t trixie apksigner
          sudo apt-get install -y apksigner

      - name: Download unsigned artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: unsigned-${{ inputs.applicationId }}
          path: unsigned

      - name: Sign debug APK
        if: ${{ inputs.buildType == 'debug' }}
        run: |
          set -eu
          mkdir -p "${{ runner.temp }}/.android"
          if [ -n "${{ secrets.DEBUG_KEYSTORE_B64 }}" ]; then
            echo "Using TRUSTED debug.keystore for builds from branches corresponding to this repository"
            echo "${{ secrets.DEBUG_KEYSTORE_B64 }}" | base64 -d > "${{ runner.temp }}/.android/debug.keystore"
          else
            echo "Using UNTRUSTED PUBLIC debug.keystore for builds from forked repositories"
            echo "MIIKNgIBAzCCCeAGCSqGSIb3DQEHAaCCCdEEggnNMIIJyTCCBcAGCSqGSIb3DQEHAaCCBbEEggWtMIIFqTCCBaUGCyqGSIb3DQEMCgECoIIFQDCCBTwwZgYJKoZIhvcNAQUNMFkwOAYJKoZIhvcNAQUMMCsEFLG4EtgZN7Nw8tYNxCcIBIRmPqifAgInEAIBIDAMBggqhkiG9w0CCQUAMB0GCWCGSAFlAwQBKgQQabicG5j0p2+b8auMeJZIJgSCBNAoh5B8dK2uy6Vg+bMSREVjV/YC7MdlONGL2KPWw9dvBKEULcNo40zfqm+PdEasftVK1csuWxSCMZUssY+rslFN94JTlDvRGeljAnvBAShOJZTkTyVPNKAps4ZNa5sIYYGMhQgdVb7FBSMAOpwsh/MHZVCDMYumcEirboHu2zNzf4FJzP6V5RC4u8/URcME6pzIPHejPUO6Z3tzZ77hJ/YduoFNtF6BsvZo/a/TnZNXv9TSy2nprJyWpDsi4VnIWPL84Z0TeswHtVa5VWKxqeoB1Ie8pHjBNuXqgFxfncgCtaTowa+C+HEtU9Qa9jphMnQuQxsG8iKz0sZjcbYmaaamkQJ3MOrF73krmSTeN4mKLhniuW+0gX3KiBcrICrm3/+VOiUSuZEy6vxbI2UtMaOgiQSuONjbNkw974wzSnzSx72/8zH70IlX45R73PfOb3oUVSp6F98E06FZfa0rE7rvZe6gTFK1rX2HiyBNCuXdiRwgTKiabRaLao7ToFGY1czuwM0kupbX1AhVJtD4fyTecPPARG/4s7ljH81E/1bjoZ6BuH1VYYPKY9BTBeqmDCTkJcZSbT+UJAcrDrcSgGNIE4X9Qdl2/NPAemtvLmfOdpoim0w1VnGfBBLV86oCOEc1Gy5kuN0q7o/UIvgoj994TZQgQFgSd3Ve3MgGZnVGmaMJBnIwCuhzSZFKfyWli0dmliaUl3M9s+irRTEfgSzMthPxetjnyg+MtzqoSRNUVnTy1v9/0x/3C2fc/9dEa/O9sWA1iQESWK5noM8IglNJ/JQqGiLUULKrHpgbsus33gb2ImKELpHmJBP0YWC45936kP7Mv5UKukX0O5Jw1TaAtQTxgVXkBjtd7XWTgtC2LYkCPrFe98wVJZ2YeGZl+xRRO6yHb6lPvY7UyodhOGkMyEPT51HDQcrzz/x/lP/VOnM9HNhkRzpfvsgD/HxWy4ZJCDCmvF1OTkGkdP4dbC7TciWC7jNiGQ9HUiaRHv7yTsmmmcm/YFPy61AYp1M8bELmoRyGHw+NF7gejHBR6JhoPpwGpR2xBnyVkELilsgN7XDticdiu8VHovueH0zjiCHwpVAyH+oJgpHGitW2f2hooSoM6dBkb8aBRpUs396IIG4D5dz0o6jCO9b3QYBlmd0M0ehkj+GyG4jDoDkYYS95o6G2ntu9hehx2XHxJngcBAl4h3YYRw7qBNNQKOO+xlDc1zfOIHecYvdLlRfgmXZnmOR+yOzyM+ApjzmSK/oQbKx1ueoSlXtoRv0kp9KrKKNS/tO55AnUCci7GFNmFcd5Gb+JWgp+T7uSK2w+0sr/bi4UDwgI/iGbbJnxffmF7i5RNUX6geTMob+UKcBEOcXvgqsWPDt6WywEUq9ZuZva7eYKMnp5tP97WczonzzpqSTDnhBOvVa8ZAC05zHtgMvAgOGFhKhlisU9yeLjHQ+8mM1o9owthw4XpT53C5XZABS9YZBaeFeTP95UnpM2RbEvAceVjeUGAS5Aaly/MWkCTORDxXdaSpF4T9LYXILSt63OgNsZvk14b6mMSJduelD7mRGFNIIFjzmR5w8M2HxNvb7v7Z/EKmlfoAn8MQJpZsHO45rXIszm3Rs63KR85bXzVphVVOsbsTIKJ6vDGN6rQDFSMC0GCSqGSIb3DQEJFDEgHh4AYQBuAGQAcgBvAGkAZABkAGUAYgB1AGcAawBlAHkwIQYJKoZIhvcNAQkVMRQEElRpbWUgMTc0NjYwMjM4OTA3NjCCBAEGCSqGSIb3DQEHBqCCA/IwggPuAgEAMIID5wYJKoZIhvcNAQcBMGYGCSqGSIb3DQEFDTBZMDgGCSqGSIb3DQEFDDArBBRCoMJ0GP96Hg6dskV2YF4bvwmF6QICJxACASAwDAYIKoZIhvcNAgkFADAdBglghkgBZQMEASoEEHhyNnEHOQavNhJOqzSSAW6AggNwdPI/avK3l0PQvGh6wkpD/nb3cjUsgxgUCNSwWAe5bU2Z894GFeyRQw6wAV7uQpUSH9BNuIYixSuMMnJrBTgWwQZrSxSKNSyHWHhEU/sAJjHUmfnUv8K8ud248uLd3BRaa+8kuURwbXyY5u7cPd14xXkxyzA2fM4BwkVSDi6d1yA2GI9qtyZ20BXJPAGbbGi2o9ZYrWpr4eivMsMPijRAwh6rKA+cEbRsnA3Nq/WoAkaWXwF/jrXTXuzR+gZYklDhYK+z9MDz4aPCiC9H8SwzrxmKQ6hjOHn0bjvRYvLTleo6F6g+OYCTNrtM2Spmwc7oL3J4gBBOmZVn97oDqaaW6pc9tu1ASFV/tmLLJckb7SN05DnfQqS3g7k6EqdXu1WATaT9uaoo03uKeZlvpUuSLs3iMln/mH2zGmpbrjrbdNH+mNupUvXXJaCuFCPQbE4gx1X5FJqXsHWoYXqOntUVJGzOGTb1ATQmHyKOxX9osgbfrMupp6BD2+09WLfY32HbhaijCyTHUJfFG6gdlWRIHAw6zVmX87VSHDp0ExcPSWptghRWINMeeNxOuubF8Ms2cPqvwKhmwT6r5nC0uDdI8yHuJhHvc9HyaLO/bpt7VVLc5AsQCNNkyfcNKk2Zju2D90s+5hUNyTCAfkZubzsi0gtVqdLmcMW9ZQsIdREmlhBVRhlD1UJHDStacP7sCKzsvfiHTG+ZJZOk2292+KLTNnQX6PsLRAt58G3mE5chOc3H1KYwZXue0KNX120sd5D2Z5dfJqNK3lvdoWGBfa8rJRqxRM8VABx5vQ3+1XhSiRsT7QYIMJXGkvwy1M4SckxdK8HWS75dXfx05NtMXmLNmmJykcQwZ5duBrrW2OGOQhh2XQtLE2ZsFCy7l/MT2PO5rg1x2l1xAKbwHQoX4pefrfUjlIKz68qgAz0Y4gEWWZko+I+k7hz/EGpKvgMbFqDBEyos2hQVoCRlOFhq4B1xPlTRif3Bjsz0li5/vobNf/Kaw8sMzRkguCJvcMR+3uxxS2EidB57se/TZ66LbZ1+uPAc8ntwxLd+wq1IChvHi8QwWbN2mT7+GaavuvSp+EhjLEMOqjzHFzaWxkfOecvCm+Qzq3Qy8Rcm0/M4SPZIjY9vnZgomM1raUDJk3xVAgEazr1oplFsVXmx5PhAUCcvKTBNMDEwDQYJYIZIAWUDBAIBBQAEICkjbneMeXj7mifBqcJJaE/EzfJxjvhPVdeJItvPzzq5BBR85yR/QHO03peUZrphFDRcm3KsdAICJxA=" | base64 -d > "${{ runner.temp }}/.android/debug.keystore"
          fi
          for UNSIGNED_APK in unsigned/*/*.apk; do
            SIGNED_APK="$(basename -- "${UNSIGNED_APK}")"
            echo "Signing ${UNSIGNED_APK}"
            # --alignment-preserved
            apksigner sign \
              --ks "${{ runner.temp }}/.android/debug.keystore" \
              --ks-pass pass:android \
              --key-pass pass:android \
              --ks-key-alias androiddebugkey \
              --out "${SIGNED_APK}" "${UNSIGNED_APK}"
          done
          rm -f "${{ runner.temp }}/.android/debug.keystore"

      - name: Sign multiple release APK
        if: ${{ inputs.buildType == 'release' }}
        run: |
          set -eu
          mkdir -p "${{ runner.temp }}/.android"
          echo "${{ secrets.SIGNING_KEYSTORE_JKS_BASE64 }}" | base64 -d > "${{ runner.temp }}/.android/signing-keystore.jks"
          for UNSIGNED_APK in unsigned/*/*.apk; do
            SIGNED_APK="$(basename -- "${UNSIGNED_APK}")"
            echo "Signing ${UNSIGNED_APK}"
            # --alignment-preserved
            apksigner sign \
              --ks "${{ runner.temp }}/.android/signing-keystore.jks" \
              --ks-pass pass:'${{ secrets.SIGNING_PASSWORD }}' \
              --key-pass pass:'${{ secrets.SIGNING_PASSWORD }}' \
              --ks-key-alias Syncthing-Fork \
              --out "${SIGNED_APK}" "${UNSIGNED_APK}"
          done
          rm -f "${{ runner.temp }}/.android/signing-keystore.jks"

      - name: Upload signed artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: signed-${{ inputs.applicationId }}
          path: |
            ./*.apk
