name: Release App

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to publish (e.g. v1.0.0.0 or v1.0.0.0-rc.1)'
        required: true

concurrency:
  group: release-app
  cancel-in-progress: true

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          ref: ${{ inputs.checkoutRef }}

      - name: Ensure release branch
        run: |
          git config --global --add safe.directory '*'
          if ! git branch -a --contains $(git rev-parse HEAD) | grep release >/dev/null; then
            echo "Tag is not part of release branch - aborting..."
            exit 1
          fi

  build:
    name: Build
    needs: prepare
    uses: ./.github/workflows/common-build.yaml
    with:
      buildType: "Release"
      checkoutRef: ${{ github.event.inputs.tag }}

  sign:
    name: Sign
    needs: [prepare, build]
    uses: ./.github/workflows/common-sign.yaml
    with:
      applicationId: "com.github.catfriend1.syncthinglite"
      buildType: "release"
      environmentName: prod
    secrets: inherit

  release:
    name: Create release and attach artifacts
    needs: sign
    if: ${{ github.event.inputs.tag != '' }}
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.tag }}

      - name: "Download sign"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: signed-com.github.catfriend1.syncthinglite
          path: ./artifacts

      - name: Create draft release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          tag: ${{ github.event.inputs.tag }}
          artifacts: "./artifacts/*.apk"
          artifactErrorsFailBuild: true
          name: Syncthing-Lite ${{ github.event.inputs.tag }}
          bodyFile: "app/src/main/play/release-notes/en-US/default.txt"
          prerelease: ${{ contains(github.event.inputs.tag, '-rc.') }}
          draft: true
